<div class="col-lg-12">
  <%= flash[:notice] %>
<div class="card rounded-0 mt-5 mb-4">
  <div class=card-body>
    <h1 class="text-centre">Listing Employees</h1>
  </div>
</div>
<%= link_to "create new Employee",new_employee_path,class: "btn btn-primary btn-lg mb-4" %>



<table class ="table table-bordered">
     <thead>
          <tr>
               <th>First Name</th>
               
                 <th>middle Name</th>
                 <th>last Name</th>
               <th>email</th>
               <th>City</th>
               <th>state</th>
               
                <th>Country</th>
                 <th>Pincode</th>
                  <th>Address 1</th>
                   <th>Address 2</th>
                  <th>edit</th>
          </tr>
       </thead>
       <tbody>
         <% @employees.each do|employee| %>
         <tr>
           <td><%= employee.first_name %></td>
           <td><%= employee.middle_name %></td>
           <td><%= employee.last_name %></td>
           <td><%= employee.personal_email %></td>
           <td><%= employee.city %></td>
           <td><%= employee.state %></td>
           <td><%= employee.country %></td>
           <td><%= employee.pincode %></td>
           <td><%= employee.addres_line_1 %></td>
             <td><%= employee.adress_line_2 %></td>
           <td>  <%= link_to "Edit",edit_employee_path(employee),class:"btn btn-primary" %>
            <%= link_to "show",employee_path(employee),class:"btn btn-info" %>
            <%= link_to "delete",employee_path(employee),class:"btn btn-danger",method: :delete,data:{confirm: 'Are you sure to delete this employee'} %>,
           </td>
          
          </tr>
          <% end %>     
       </tbody>
     </table>   
   </div>